:root {
  --body-background: white;
  --page-max-width: 960px;
  --text-color: black;

  --nav-background: rgb(196, 196, 196);
  --mobile-nav-menu-background: rgba(161, 161, 161, 0.466);
  --mobile-nav-menu-items-background: black;

  --footer-background: rgb(196, 196, 196);

  --article-width: 100%;
  --article-margin: 10px 0;
  --article-background: rgb(218, 218, 218);
  --article-heading-color: rgb(58, 58, 58);
  --article-heading-font-size: 24px;
  --article-heading-margin: 0 0 24px 0;
  --article-image-margin: 0 0 15px 15px;
  --article-image-width: 100%;
  --article-text-max-lines: 6;
  --article-paragraph-line-height: 1.5em;
  --article-paragraph-letter-spacing: 0.025em;
  --article-link-margin: 10px 0 0 0;
}

@media (min-width: 960px) {
  :root {
    --article-margin: 0.5em;
    --article-width: 48.335%;
    --article-background: rgb(218, 218, 218);
    --article-image-margin: 0 auto 1.5em;
    --article-image-width: 50%;
  }
}
